html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: #eee3c7;
  font-family: "Avenir Next", "Gill Sans", Candara, Calibri, sans-serif;
  color: #17241e;
}

button,
input {
  font: inherit;
}

::selection {
background-color: #56a261bf;
color: #000;
}
