SERVER_PORT=8080

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgresdb
DATABASE_NAME=fyp_food_recommendation
DATABASE_PASSWORD=<redacted>

SECURITY_JWT_SECRET=<redacted>
GEMINI_API_KEY=<redacted>

OBJECT_STORAGE_ENDPOINT=localhost:9000
OBJECT_STORAGE_ACCESS_KEY=<redacted>
OBJECT_STORAGE_SECRET_KEY=<redacted>
OBJECT_STORAGE_BUCKET=images
OBJECT_STORAGE_USE_SSL=false
OBJECT_STORAGE_PUBLIC_URL=http://localhost:9000

SERPAPI_API_KEY=<redacted>
